*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    user-select: none;
}
body,html {
    width: 100%;
    height: 1800px;
    overflow-x: hidden;
}
.headmain {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    display: flex;
    padding-top: 75px;
}
header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-top: 20px;
    z-index: 1000;
}
header.scrolled {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
}
.logoh {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.logo {
    background-image: linear-gradient(to right, #ff00bf, #b005ff); /* Dégradé de gauche à droite */
    -webkit-background-clip: text; /* Pour Chrome, Safari et Opera */
    background-clip: text; /* Pour Firefox */
    color: transparent; /* Cache la couleur de texte par défaut */
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    cursor: default;
    user-select: none;
}
.jesp{
    color: white;
}
.conthead {
    color: white;
}
.headd{
    height: 10px;
    display: flex; 
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.nicolas{
    color: #ff6ada96;
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 125px;
}
.benjamin {
    color: #ff00bf;
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 125px;
}
.texthead{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 50px;
    padding-left: 50px;
    width: 50%;
}
.underline {
    position: absolute;
    width: 45%;
    height: 2px; /* Ligne fine */
    background-color: #ff00bf; /* Couleur rose */
    margin-top: 350px;

    box-shadow: 0 2px 2px #ff00bf, 0 0 10px #ff00bf, 0 0 15px #ff00bf, 
                0 0 20px #ff00bf, 0 0 25px #ff009f, 0 0 30px #ff009f;
}
.imagehead{
    width: 50%;
    height: 400px;
}
.cont{
    margin-top: 5px;
    margin-left: 150px;
    background-color: white;
    width: 50%;
    height: 550px;
    border-radius: 50px;
    box-shadow: 2px 15px 107px -22px rgba(255,255,255,0.75);
    -webkit-box-shadow: 2px 15px 107px -22px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px 15px 107px -22px rgba(255,255,255,0.75);
}
.desc{
    color: white;
    font-weight: 800;
    font-size: large;
    position: absolute;
    margin-top: 400px;
}
.ico{
    display: flex;
    margin-top: 200px;
    margin-left: 10%;
    justify-content: center;
    align-items:center ;
    fill: white;
}
.titrecart{
    color: rgb(68, 68, 68);
    font-size: large;
    background-color: transparent;
    padding-top: 20px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(233, 233, 233, 0.97);
    -moz-box-shadow: 0px 4px 0px 0px rgba(233, 233, 233, 0.97);
    box-shadow: 0px 1px 0px 0px rgba(233, 233, 233, 0.97);
    padding-bottom: 20px;
}
.bar {
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.barconthtml {
    width: 50px;
    height: 200px;
    background: linear-gradient(to top, #ff00bf 70%, rgb(219, 212, 212) 30%);
    -webkit-box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);   
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.barcontcss {
    width: 50px;
    height: 200px;
    background: linear-gradient(to top, #ff6ada96 70%, rgb(219, 212, 212) 30%);
    -webkit-box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.barcontc {
    width: 50px;
    height: 200px;
    background: linear-gradient(to top, #a12e85 70%, rgb(219, 212, 212) 30%);
    -webkit-box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.5);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.bar {
    background-color: transparent;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.trait {
    background-color: red;
}
.verthtml {
    background: linear-gradient(to right, #ff00bf, #b005ff); /* Dégradé */
    -webkit-background-clip: text; /* Applique le dégradé au texte */
    -webkit-text-fill-color: transparent;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: small;
    background-color: transparent;
}
.vertcss {
    background: linear-gradient(to right, #ff00bf, #b005ff); /* Dégradé */
    -webkit-background-clip: text; /* Applique le dégradé au texte */
    -webkit-text-fill-color: transparent;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: small;
    background-color: transparent;
}
.vertc {
    background: linear-gradient(to right, #ff00bf, #b005ff); /* Dégradé */
    -webkit-background-clip: text; /* Applique le dégradé au texte */
    -webkit-text-fill-color: transparent;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: small;
    background-color: transparent;
}
