*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body,html {
    width: 100%;
    height: 1800px;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}

header {
    position: fixed;
    background-color: black !important;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-top: 20px;
    z-index: 1000;
}
.logoh {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.logo {
    background-image: linear-gradient(to right, #ff00bf, #b005ff); /* Dégradé de gauche à droite */
    -webkit-background-clip: text; /* Pour Chrome, Safari et Opera */
    background-clip: text; /* Pour Firefox */
    color: transparent; /* Cache la couleur de texte par défaut */
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    cursor: default;
    user-select: none;
}
.jesp{
    color: white;
}
.conthead {
    color: white;
}
.headd{
    height: 10px;
    display: flex; 
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.image{
    background-image: url(https://th.bing.com/th/id/R.429a4cec9c91a2a3ff996623fa249ac8?rik=znAq2szi4dv5Zw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2ff%2fd%2fb%2f1098236-1920x1080-high-resolution-wallpaper-1920x1080-photo.jpg&ehk=mvuSW6vHmFVzRe2r%2faIVn1XOPu0ItgKYsuoWLSbVpNo%3d&risl=&pid=ImgRaw&r=0);
    width: 100%;
    height: 500px;
    filter: grayscale(100%);
    z-index: 1000;
}
#neon-line {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff00bf;
    box-shadow: 
        0 0 5px #ff00bf, 
        0 0 10px #b005ff, 
        0 0 20px #ff00bf, 
        0 0 40px #b005ff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}